<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../../static/css/admin/admin.css">
   
    <th:block th:replace="~{common/common}"></th:block>

  </head>

  <body>
    
    <th:block th:replace="~{common/header}"></th:block> 

    
    
    <div class="admin-table">
      <table border="3"> 
        <tr class="table-head"><th>회원번호</th><th>회원상태</th><th>이메일</th></tr>
      <tr><td class="table-elements" >01</td><td class="table-elements">정지</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">02</td><td class="table-elements">정지</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">03</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">04</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        
      </table>
    </div>
  

    <div class="admin-table">
      <table border="3"> 
        <tr class="table-head"><th>회원번호</th><th>회원상태</th><th>이메일</th></tr>
      <tr><td class="table-elements" >01</td><td class="table-elements">정지</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">02</td><td class="table-elements">정지</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">03</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">04</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">05</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">06</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">07</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">08</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        <tr><td class="table-elements">08</td><td class="table-elements">aaa</td><td class="table-elements">asd</td></tr>
        
      </table>
    </div>


  </body>
</html>
