/* --------------------------------------------------------------------------------------- */
:root {
  font-size: 62.5%;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #282828;
  font-family: "SUITE-Regular";
}
table {
  border-collapse: collapse;
  width: 800px;
  height: 300px;
  font-size: large;
}

.table-head {
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
}

.admin-table {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.table-elements {
  color: black;
  background-color: rgb(69, 131, 255);
}

td {
  text-align: center;
}

.history-back {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

#search-area {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 60rem;
  height: 3rem;
  margin: 2rem auto;
}
#searchKey {
  width: 8rem;
  font-size: 1.4rem;

  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
  border: none;
  cursor: pointer;
}
#search {
  width: 28rem;
  margin: 0 1rem;
  border-radius: 0.3rem;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  outline: none;
}
#search-area > button {
  width: 10rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
#search-area img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}
.searchMain {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

.video-pagination {
  display: block;
}
.video-pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 2rem;
  margin: 1rem 0;
}
.video-pagination li {
  width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}
.video-pagination a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}
.current-pagination {
  background-color: #455ba8;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  letter-spacing: 0 !important;
}
