:root {
    font-size: 62.5%;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #282828;
  
  }
  /* --------------------------------------------------------------------------------------- */
  table { border-collapse: collapse;
    width: 700px;
    height: 300px;
    border-radius: 3;
  
    
  }
  
  .table-head {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 35, 29);
  }
  
  .admin-table{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 3;
  }
  
  .table-elements{
    color: azure;
  }
  
  td {
    text-align: center;
  }
  