<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <link rel="stylesheet" href="/css/myPage/myPage-profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        
        <th:block th:replace="~{myPage/myPage-common}"></th:block>

        <hr>

			
        
        <section class="myPage-content">
            <th:block th:replace="~{myPage/sideMenu}"></th:block>
    
            <section class="myPage-main">
        
                 <section class="myPage-profile-main">
                  <label id="myProfile">내 프로필</label>
                 <section class="myPage-profile-total">
                   
                        <div class="myPage-profile-upper">
                            <div class="profile-content" th:object="${loginMember}">
                                <form action="changeNickname" method="POST" >
                                    <span class="profile-row">
                                     닉네임 <input type="text" name="memberNickname" id="memberNickname" class="editProfile2" th:value="*{memberNickname}"> <button class="editButton" >수정하기</button>
                                    </span>
                                </form>
                                
                                <form action="changeEmail">
                                    <span class="profile-row">
                                     이메일 <input type="email" name="memberEmail" id="memberEmail" class="editProfile2" th:value="*{memberEmail}"> 
                                    </span>
                                </form>
                                
                                <form action="changePw" method="POST" name="myPageFrm" id="changePwFrm">
                                    <span class="profile-row">
                                        현재 비밀번호 <input type="password" name="currentPw" id="currentPw" class="editProfile2"> 
                                    </span>
                                
                                    <span class="profile-row">
                                        새 비밀번호 <input type="password" name="newPw" id="newPw" class="editProfile2"> 
                                    </span>
                                
                                    <span class="profile-row">
                                        새 비밀번호 확인 <input type="password" name="newPwConfirm" id="newPwConfirm" class="editProfile2" > <button class="editButton">수정하기</button>
                                    </span>
                                </form>   
                            </div> 
                                <br>
                           
                                <form action="profile" method="POST" name="myPageFrm" id="profileFrm" enctype="multipart/form-data">
                                    <div class="myPage-image-area">
                                        <label for="imageInput" class="myPage-image">
                                                <!-- 프로필 이미지가 없을 경우 -->
                                            <img th:if="${session.loginMember.profileImg == null}" th:src="#{user.default.image}" id="profileImg">
                                
                                                <!-- 프로필 이미지가 있을 경우 -->
                                            <img th:unless="${session.loginMember.profileImg == null}" th:src="${session.loginMember.profileImg}" id="profileImg" >
                                        </label>
                                    </div>

                                    <div class="profile-btn-area">
                                        <input type="file" id="imageInput" name="profileImg" accpet="image/*">
                                        <button>저장하기</button>
                                        button
                                    </div>

                                </form> 
                        </div>
                        
                        <div class="myPage-profile-mid">
                             배경화면 
                             <br>
                             <form action="background" method="POST" name="myPageBackground" id="backgroundFrm" enctype="multipart/form-data">
                                <label for="backgroundInput" class="background-img">

                                    <img th:if="${session.loginMember.backgroundImg == null}" th:src="#{background.default.image}" id="backgroundImg">
                                    <img th:unless="${session.loginMember.backgroundImg == null}" th:src="${session.loginMember.backgroundImg}" id="backgroundImg" >
                                
                                    <input type="file" id="backgroundInput" name="backgroundImg" accept="image/*">
                                
                                </label>

                                <span class="background-btn-area">
                                    <button>저장하기</button>

                                </span>
                            </form>

                            <form action="deleteBackground" method="POST" id="deleteFrm">
                                <span class="background-btn-area1"> 
                                    <button th:unless="${session.loginMember.backgroundImg == null}" id="deleteImage" th:text="|배경화면 초기화를 원하시면 여기를 클릭하세요.|"></button> 
                                    <button th:if="${session.loginMember.backgroundImg == null}" id="deleteImage"></button> 
                                </span>
                            </form>
                            
                        </div>

                           

                        <span class="myPage-profile-lower">
                            <a href="/myPage/myPage-home" id="homeButton1"><button id="homeButton">홈으로</button> </a> 
                            <a href="/myPage/myPage-secession" id="secessionButton1"><button id="secessionButton">회원 탈퇴</button></a>
                        </span>   
                        
                    </section>  

            </section>
        </section>

    </section>
    </main>    
    <!-- <th:block th:replace="~{common/footer}"></th:block> -->
   
    <th:block th:replace="~{common/common}"></th:block>


    <script src="/js/myPage/myPage.js"></script>
</body>
</html>