<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>


    <link rel="stylesheet" href="/css/myPage/myPage-secession.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">


</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <!-- 마이페이지 - 내 정보 -->
        <section class="myPage-content">
            
			<th:block th:replace="~{myPage/sideMenu}"></th:block>

           

            <section class="myPage-secession-main">

                <div class="logo-area">
                    <a href="/">
                        <img src="/images/logo.png">
                    </a>
                </div>
                <div class="myPage-title">
                    <h1>회원 탈퇴</h1>
                 </div>
                <br>
                <span class="myPage-subject">회원 탈퇴를 위해서 비밀번호를 입력해주세요.</span>

                <br>
                <form action="secession" method="POST" name="myPageFrm" id="secessionFrm">

                    <div class="myPage-row">
                        <label>비밀번호</label>
                        <input type="password" name="memberPw" id="memberPw" maxlength="30">              
                    </div>

                    <div class="myPage-row"> <button id="secessionBtn">탈퇴하기</button> </div>

                </form>

            </section>

        </section>

    </main>

    <th:block th:replace="~{common/common}"></th:block>

</body>
</html>