<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <link rel="stylesheet" href="/css/myPage/myPage-profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
    <link rel="stylesheet" href="/css/shorts/shorts-main.css" />
</head>
<body>
    <main >
        <th:block th:replace="~{common/header}"></th:block>
        
        <th:block th:replace="~{myPage/myPage-common}"></th:block>

        <hr>

			
        
        <section class="myPage-content" >
            <th:block th:replace="~{myPage/sideMenu}"></th:block>
    
            <section class="myPage-main" >
        
         
                <th:block th:each="i : ${#numbers.sequence(0, #lists.size(videoList) - 1)}">
          <th:block th:if="${i % 5 == 0}" >
            <div class="vdvd" >
          </th:block>
         
            <a th:href="@{/shorts/detail/{boardVideoNo}(boardVideoNo=${videoList[i].boardVideoNo}, cp=${pagination.currentPage})}" class="video-a">
              <video
                th:src="|${videoList[i].videoPath}${videoList[i].videoRename}|"
                muted
                onmouseover="this.play()"
                onmouseout="this.pause()"
                width="300px"
                height="320px"
                controls
              ></video>
              <div id="video-kdb" th:text="${videoList[i].videoTitle}">
                (오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅁㄹㄴㅁ
              </div>
            </a>

          <th:block th:if="${i % 5 == 4 or i == #lists.size(videoList)-1}">
            </div>
          </th:block>

        </th:block>

        <!-- ----------------------------------- -->
        <div class="write-btn-area">
          <button id="writeBtn">글쓰기</button>
        </div>
        <div class="video-pagination">
          <ul>
            <li><a href="#">&lt;&lt;</a></li>
            <li><a href="#">&lt;</a></li>
            <th:block
              th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}"
            >
              <li th:if="${i == pagination.currentPage}">
                <a class="current-pagination" th:text="${i}">1</a>
              </li>
            </th:block>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">&gt;</a></li>
            <li><a href="#">&gt;&gt;</a></li>
          </ul>
        </div>
                


                        
            </section>  

            </section>
        </section>

    
    </main>    
    <!-- <th:block th:replace="~{common/footer}"></th:block> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <th:block th:replace="~{common/common}"></th:block>


    <script src="/js/video/shortsMain.js"></script>
</body>
</html>