<div class="myPage-wallpaper" >
  <img th:if="${session.loginMember.backgroundImg == null}" th:src="#{background.default.image}" class="backgroundImg">
  <img th:unless="${session.loginMember.backgroundImg == null}" th:src="${session.loginMember.backgroundImg}" class="backgroundImg" >
</div>

<section class="myPage-middle">

  <div class="myPage-middle-profile" th:object="${session.loginMember}">

      <!-- 프로필 이미지가 없을 경우 -->
      <img th:if="${session.loginMember.profileImg == null}" th:src="#{user.default.image}" id="memberProfile">
                                
      <!-- 프로필 이미지가 있을 경우 -->
      <img th:unless="${session.loginMember.profileImg == null}" th:src="${session.loginMember.profileImg}" id="memberProfile" >

      <span id="nickName" th:text="*{memberNickname}" >닉네임</span>
      <p id="email" th:text="*{memberEmail}">이메일</p>

      <span id="my">내가 쓴 글</span>
      <span></span>
      <span>내 쇼츠</span>
      <span>개</span>
      <span>개</span>

  </div>    

</section>

<script th:inline="javascript">


  // messages.properties의 값을 얻어와 전역 변수로 선언
  const defaultImage = /*[[#{user.default.image}]]*/ "기본 이미지";

  // 로그인한 회원의 프로필 이미지 얻어오기 (없으면 null)
  const loginMemberProfileImg = /*[[${session.loginMember.profileImg}]]*/ "프로필 이미지";

   // messages.properties의 값을 얻어와 전역 변수로 선언
   const defaultBackgroundImage = /*[[#{background.default.image}]]*/ "기본 이미지";

// 로그인한 회원의 프로필 이미지 얻어오기 (없으면 null)
  const loginMemberbackgroundImg = /*[[${session.loginMember.backgroundImg}]]*/ "프로필 이미지";
  

</script>