<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/myPage/myPage-home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
   

</head>
<body>
    
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        
        <th:block th:replace="~{myPage/myPage-common}"></th:block>
       
        <hr>
        
        <section class="myPage-content">
            <th:block th:replace="~{myPage/sideMenu}"></th:block>
    
            <section class="myPage-main">

                <div class="mid">
                <div class="myCommunity">
                    <label>내가 작성한 커뮤니티 글</label> 
                    <a href="/myPage/myPage-community" id="more">더보기</a>
                    <br>

                    <div id="myCommunityList">
                        <table class="list-table" border="0" th:with="boardList=${map.boardList}" th:object="${videoBoard}">
                          <thead>
                              <tr>
                                  <th>카테고리</th>
                                  <th>제목</th>
                                  <th>작성일</th>
                                  <th>조회수</th>
                                  <th><i class="fa-heart fa-solid" style="color : red;" id="boardLike"></i></th>
      
                              </tr>
      
                          </thead>
      
                          <tbody>
                              <tr th:if="${#lists.size(boardList) == 0}" >
                                  <th colspan="6">게시글이 존재하지 않습니다.</th>
                              </tr>
      
                              <th:block th:unless="${#lists.size(boardList) == 0}">
                                   <tr th:each="board: ${boardList}" th:object="${board}">
                                      <td th:if="*{categoryName} == 구인" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(33, 155, 255);  border-left: 3px solid rgb(33, 155, 255); ">카테고리 종류</td>
                                      <td th:unless="*{categoryName} == 구인" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(255, 0, 128); border-left: 3px solid rgb(255, 0, 128); ">카테고리 종류</td>
                                      <td>
                                          <a th:href="@{/board/1/{boardNo}(boardNo=*{boardNo})}"
                                            th:text="*{boardTitle}" style="text-decoration: underline;">게시글 제목</a>
                                      </td>
                                      <td th:text="*{writeDate}" style="font-size:13px;">작성일</td>
                                      <td th:text="*{boardCount}">조회수</td>
                                      <td th:text="*{likeCount}">좋아요</td>
                                     
                                  </tr>
                              </th:block> 
                          </tbody>
                      </table>
                         
                      </div>
                  </div>
      
                  <div class="myJisikin">
      
                      <label>지식in</label>
      
                      <a href="/jisik/jisikList" id="more">더보기</a>
      
                      <div id="myKinList">
                        <table class="list-table" border="0" th:with="boardList2=${map2.boardList2}">
                          <thead>
                              <tr>
                                  <th>카테고리</th>
                                  <th>제목</th>
                                  <th>작성일</th>
                                  <th>조회수</th>
                                  <th><i class="fa-heart fa-solid" style="color : red;" id="boardLike"></i></th>
      
                              </tr>
      
                          </thead>
      
                          <tbody>
                              <tr th:if="${#lists.size(boardList2) == 0}" >
                                  <th colspan="6">게시글이 존재하지 않습니다.</th>
                              </tr>
      
                              <th:block th:unless="${#lists.size(boardList2) == 0}">
                                <tr th:each="board: ${boardList2}" th:object="${board}">
                                   <td th:if="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(253, 122, 70);  border-left: 3px solid rgb(253, 122, 70);">카테고리 종류</td>
                                   <td th:unless="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(255, 217, 48);  border-left: 3px solid rgb(255, 217, 48);">카테고리 종류</td>
                                   <td>
                                       <a th:href="@{/jisik/jisikDetail/{boardNo}(boardNo=*{boardNo})}"
                                         th:text="*{boardTitle}" style="text-decoration: underline;">게시글 제목</a>
                                   </td>
                                   <td th:text="*{writeDate}" style="font-size:13px;">작성일</td>
                                   <td th:text="*{boardCount}">조회수</td>
                                   <td th:text="*{likeCount}">좋아요</td>
                                  </tr>
                              </th:block> 
                          </tbody>
                      </table>

                    </div>
                </div>
              </div>
                <div class="myShorts">
                    <label>내가 작성한 쇼츠</label>
                    <a href="/myPage/myPage-shorts" id="more">더보기</a>
                    <div id="shorts" th:object="${videoBoard}">
                        <th:block th:with="videoList=${map3.videoList}">
                            <th:block th:if="${#lists.size(videoList) == 0}">
                                <h1 class="noBoard">게시글이 존재하지 않습니다.</h1>
                            </th:block>

                            <th:block th:each="i : ${#numbers.sequence(0, #lists.size(videoList) - 1)}" th:unless="${#lists.size(videoList) == 0}">
                                <th:block th:if="${i % 5 == 0}" >
                                    <div class="vdvd" >
                                </th:block>
            
                            <a th:href="@{/shorts/detail/{boardVideoNo}(boardVideoNo=${videoList[i].boardVideoNo})}" class="video-a">
                                <video th:src="|${videoList[i].videoPath}${videoList[i].videoRename}|" muted onmouseover="this.play()"
                                    onmouseout="this.pause()"
                                    width="300px"
                                    height="320px"
                                    controls></video>
                                    <div id="video-kdb" th:text="${videoList[i].videoTitle}" style="font-size: 15px;">게시글 제목 </div>
                                </a>
                        </th:block>


                    </div>

                </div>
                
            </section>

        </section>

    </main>
    <th:block th:replace="~{common/common}"></th:block>
	<!-- <th:block th:replace="~{common/footer}"></th:block> -->

   

</body>
</html>