<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <link rel="stylesheet" href="/css/myPage/myPage-jisikin.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
    <!-- <link rel="stylesheet" href="/css/shorts/shorts-main.css" /> -->
</head>
<body>
    <main th:with="boardList=${map.boardList}, pagination=${map.pagination}">
        <th:block th:replace="~{common/header}"></th:block>
        
        <th:block th:replace="~{myPage/myPage-common}"></th:block>

        <hr>

        
        <section class="myPage-content">
            <th:block th:replace="~{myPage/sideMenu}"></th:block>
    
            <section class="myPage-main">
                
                <section class="myPage-community-main">
                    <label id="myshorts">내가 작성한 지식in글</label>
                    
                        <section class="myPage-community-total">

                          <div class="community">
                          
                            <div class="com-center">
                              <table class="list-table" border="0">
                                          
                                <thead>
                                  <tr>
                                    <th>카테고리</th>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                    <th><i class="fa-heart fa-solid" style="color : red;" id="boardLike"></i></th>
                                  </tr>
                                </thead>
                                
                                <tbody>

                                  <tr th:if="${#lists.size(boardList) == 0}">
                                    <th colspan="10">게시글이 존재하지 않습니다.</th>
                                  </tr>
        
                                 <!-- 게시글이 존재할 때 -->
                                <th:block th:unless="${#lists.size(boardList) == 0}">
                                  <tr th:each="board: ${boardList}" th:object="${board}">
                                    <td th:if="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(253, 122, 70);  border-left: 3px solid rgb(253, 122, 70);">카테고리 종류</td>
                                    <td th:unless="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(255, 217, 48);  border-left: 3px solid rgb(255, 217, 48);">카테고리 종류</td>

                                    <td th:text="|[*{boardTitle}]|" style="color: white;" > 게시글 제목</td>
                                    <td> 
                                      <a th:href="@{/board/1/{boardNo}(boardNo=*{boardNo})}" th:text="*{boardContent}" style="text-decoration: underline;">게시글 내용 </a>
                                    </td> 
                                    <td th:text="*{writeDate}">작성일</td>
                                    <td th:text="*{boardCount}">조회수</td>
                                    <td th:text="*{likeCount}">좋아요</td>
                                  </tr>
                                </tbody>
                    
                              </table>
                              </div>
                            </div>                 
                          </section>
                          
                          <section class="pagination-section" th:if="${#lists.size(boardList) > 0}">
         <!-- 페이지네이션 -->
                            
                              
                              <ul class="pagination">

                                  
                                    <li>
                                        <a th:href="@{/myPage/myPage-community(cp=1)}">&lt;&lt;</a>
                                    </li>

                                    
                                    <li>
                                        <a th:href="@{/myPage/myPage-community(cp=${pagination.prevPage})}">&lt;</a>
                                    </li>

                                    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                                      
                                        <li th:if="${i == pagination.currentPage}">
                                            <a class="current" th:text="${i}">1</a>
                                        </li>
                                        
                                        <li th:unless="${i == pagination.currentPage}"> 
                                            <a th:href="@{/myPage/myPage-community(cp=${i})}" th:text="${i}">2</a> 
                                        </li>
                                    </th:block>

                                    <li><a th:href="@{/myPage/myPage-community(cp=${pagination.nextPage})}">&gt;</a></li>

                                  
                                    <li>
                                        <a th:href="@{/myPage/myPage-community(cp=${pagination.maxPage})}">&gt;&gt;</a>
                                    </li>
                              </ul>

                            
                          </section>

                        
            </section>  

            
        </section>
    </section>
    
    </main>    
    <!-- <th:block th:replace="~{common/footer}"></th:block> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
    <th:block th:replace="~{common/common}"></th:block>

    <script src="/js/board/boardList.js"></script>


    <!-- <script src="/js/video/shortsMain.js"></script> -->
</body>
</html>