<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <th:block th:replace="~{common/common}"></th:block>
  
    <link rel="stylesheet" href="/css/myPage/myPage-profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        
        <div class="myPage-wallpaper">
            <img src="../images/wallpaper.png" id="wallpaper" >
        </div>

        <section class="myPage-middle">
        
            <div class="myPage-middle-profile">
        
                <img src="../images/user.png" id="memberProfile">
                <span id="nickName" >닉네임</span>
                <p id="email">이메일</p>

            </div>    

        <hr>
        </section>
			
        
        <section class="myPage-content">
            <th:block th:replace="~{myPage/sideMenu}"></th:block>
    
            <section class="myPage-main">
        
                 <section class="myPage-profile-main">
                  <label id="myProfile">내 프로필</label>
                 <section class="myPage-profile-total">
                   
                        <div class="myPage-profile-upper">
                            <div class="profile-content">
                                <form action="changeNickname" method="POST">
                                    닉네임 <input type="text" name="nickname" id="editProfile"  th:value="*{memberNickname}"> <button id="editButton">수정하기</button>
                                </form>
                                <br>
                                <form action="changeEmail">
                                    이메일 <input type="email" name="profileEmail" id="editProfile" th:value="*{memberNickname}"> 
                                </form>
                                <br>
                                <form action="changePw">
                                    현재 비밀번호 <input type="password" name="pw" id="editProfile"> 
                                </form>
                                <br>
                                <form action="changePw2">
                                    새 비밀번호 <input type="password" name="newPw" id="editProfile" > <button id="editButton">수정하기</button>
                                </form>
                                <br>
                                
                            </div> 
                            
                                <form action="profile" method="POST" name="myPageFrm" id="profileFrm" enctype="multipart/form-data">
                                    <div class="myPage-image-area">
                                        <!-- 프로필 이미지가 없을 경우 -->
                                      <img th:if="${session.loginMember.profileImg == null}" th:src="#{user.default.image}" id="profileImg">
                        
                                         <!-- 프로필 이미지가 있을 경우 -->
                                       <img th:unless="${session.loginMember.profileImg == null}" th:src="${session.loginMember.profileImg}" id="profileImg">
                                    </div>
                                    <div class="profile-btn-area">
                                        <input type="file" id="editMemberProfile2" name="imageInput" accpet="image/">
                                        <button>변경하기</button>
                                    </div>

                                </form> 
                        </div>
                        
                        <div class="myPage-profile-mid">
                             배경화면 
                             <br>
                             <div class="background-img">
                                 <input type="file" id="backgroundPic">
                                 <button>+</button>
                             </div>
                        </div>

                        <span class="myPage-profile-lower">
                            <a href="/myPage/myPage-home"><button id="homeButton">홈으로</button> </a> 
                            <a href="/myPage/myPage-secession"><button id="secessionButton">회원 탈퇴</button></a>
                        </span>   
                        
                    </section>  

            </section>
        </section>

    </section>
    </main>    
    <!-- <th:block th:replace="~{common/footer}"></th:block> -->

    <script th:inline="javascript">
        //th:inline="javascript"
        // - script 태그 내부에 타임리프 쓸거다
        // -> 타임리프로 출력되는 값을 JS에 맞는 자료형으로 변경해줘

        // messages.properties의 값을 얻어와 전역 변수로 선언
        const defaultImage = /*[[#{user.default.image}]]*/ "기본 이미지";

        // 로그인한 회원의 프로필 이미지 얻어오기 (없으면 null)
        const loginMemberProfileImg = /*[[${session.loginMember.profileImg}]]*/ "프로필 이미지";
        

    </script>

    <script src="/js/myPage/myPage.js"></script>
</body>
</html>