<!-- 왼쪽 사이드 메뉴 -->
<section class="left-side">
    

    <ul class="list-group">
        <li> <a href="/myPage/myPage-home">Home</a></li>

        <li> <a href="/myPage/myPage-profile">내 프로필</a> </li>
        
        <li> <a href="/myPage/myPage-community">내가 작성한 커뮤니티 글</a> </li>
        
        <li> <a href="/myPage/myPage-kin">내가 작성한 지식in 글</a> </li>

        <li> <a href="/myPage/myPage-shorts">내가 올린 쇼츠</a> </li>
        
        <li> <a href="/myPage/myPage-diary">내 다이어리</a> </li>
        
    </ul>
    
    
</section>