<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madax</title>
    <link rel="stylesheet" href="/css/shorts/shorts-main.css" />
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <main th:with="videoList=${map.videoList}, pagination=${map.pagination}">
      <th:block th:replace="~{common/header}"></th:block>
      <section>
        <form action="">
          <select name="videoListType" id="video-list-type">
            <option value="latest">최신순</option>
            <option value="like">좋아요순</option>
            <option value="look">조회순</option>
          </select>
        </form>
        <!-- <div class="vdvd">
          <th:block
            th:each="videoBoard : ${videoList}"
            th:object="${videoBoard}"
          >
            <a href="#" class="video-a">
              <video
                th:src="|${videoBoard.videoPath}${videoBoard.videoRename}|"
                muted
                onmouseover="this.play()"
                onmouseout="this.pause()"
                width="300px"
                height="320px"
                controls
              ></video>
              <div id="video-kdb" th:text="*{videoTitle}">
                (오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅁㄹㄴㅁ
              </div>
            </a>
          </th:block>
        </div> -->

        <!-- ----------------------------------- -->
        <th:block th:each="i : ${#numbers.sequence(0, #lists.size(videoList) - 1)}">
          <th:block th:if="${i % 5 == 0}">
            <div class="vdvd">
          </th:block>

            <a href="#" class="video-a">
              <video
                th:src="|${videoList[i].videoPath}${videoList[i].videoRename}|"
                muted
                onmouseover="this.play()"
                onmouseout="this.pause()"
                width="300px"
                height="320px"
                controls
              ></video>
              <div id="video-kdb" th:text="${videoList[i].videoTitle}">
                (오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅁㄹㄴㅁ
              </div>
            </a>


          <th:block th:if="${i % 5 == 4 or i == #lists.size(videoList)-1}">
            </div>
          </th:block>

        </th:block>

        <!-- ----------------------------------- -->
        <div class="write-btn-area">
          <button id="writeBtn">글쓰기</button>
        </div>
        <div class="video-pagination">
          <ul>
            <li><a href="#">&lt;&lt;</a></li>
            <li><a href="#">&lt;</a></li>
            <th:block
              th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}"
            >
              <li th:if="${i == pagination.currentPage}">
                <a class="current-pagination" th:text="${i}">1</a>
              </li>
            </th:block>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">&gt;</a></li>
            <li><a href="#">&gt;&gt;</a></li>
          </ul>
        </div>

        <form action="" id="search-area">
          <select name="key" id="searchKey">
            <option value="searchTitle">제목</option>
            <option value="searchNickname">작성자</option>
            <option value="searchContent">내용</option>
          </select>
          <div class="searchMain">
            <img src="/images/search_icon.png" />
            <input
              type="text"
              id="search"
              placeholder="검색어를 입력해주세요"
            />
          </div>
          <button>검색</button>
        </form>
        <!-- <form
          action="video"
          method="post"
          enctype="multipart/form-data"
          id="formTest"
        > -->
        <input type="file" name="shortsVideo" id="upload-file" accept=".mp4" />

        <button onclick="upload()" type="button">업로드</button>
        <!-- <input type="submit" value="" /> -->
        <!-- <button type="submit">전송</button> -->
        <!-- </form> -->
        <div class="result"></div>
      </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <th:block th:replace="~{common/common}"></th:block>
    <script src="/js/video/shortsMain.js"></script>
  </body>
</html>
