<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼츠 게시판 수정</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <main>
      <div class="container">
        <h2>쇼츠 게시판 수정하기</h2>
        <form action="update" method="post" id="updateForm" enctype="multipart/form-data" th:object="${videoBoard}">
          <div class="form-group">
            <label for="title" th:text="${boardName}">제목</label>

            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="제목 입력(4-100)"
              name="videoTitle"
              maxlength="100"
              required="required"
              pattern=".{4,100}"
              th:value="*{videoTitle}"
              oninput="handleOnInput(this, 10)"
            />
          </div>

          <div class="form-group">
            <label for="content" th:text="*{videoContent}">내용</label>

            <textarea class="form-control" rows="5" id="content" name="videoContent" placeholder="내용 작성"></textarea>
          </div>
          <input type="file" name="shortsVideo" id="upload-file" accept=".mp4" />
          <!-- <button onclick="upload()" type="button">업로드</button> -->
          <button type="submit" class="btn btn-default" id="writeBtn">등록</button>
          <input type="hidden" name="querystring" />
        </form>
      </div>
    </main>
    <script th:inline="javascript">
      const videoList = /*[[${videoBoard.videoList}]]*/ [];
    </script>

    <script src="/js/video/shortsWrite.js"></script>
  </body>
</html>
