<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/shorts/shortsDetail.css" />
    <link rel="stylesheet" href="/css/shorts/shortsComment.css" />
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <div class="vid-index3">
      <section>
        <video
          th:each="i : ${#numbers.sequence(0, #lists.size(videoBoard.videoList)-1, 1)}"
          th:src="|${videoBoard.videoList[i].videoPath}${videoBoard.videoList[i].videoRename}|"
          width="400px"
          height="750px"
          controls
        ></video>
      </section>
      <section>
        <div class="video-title-content">
          <div class="video-title" th:text="${videoBoard.videoTitle}">
            [헬스 꿀팁] 3대 500을 찍고 얻은 5가지 깨달음
          </div>
        </div>
        <div class="video-title-content">
          <div class="video-content1">
            <th:block th:text="${videoBoard.videoContent}">
              <span
                >근비대나 수행능력 향상을 목적으로 웨이트 트레이닝을하는
                분들에게 이 영상이 조금이나마 도움이 되었으면 좋겠습니다.</span
              >
            </th:block>
            <span class="video-write-date"
              >[[${videoBoard.videoWriteDate}]]</span
            >
          </div>
          <div class="video-button">
            <th:block
              th:if="${session.loginMember != null and session.loginMember.memberNo == videoBoard.memberNo}"
            >
              <button id="updateBtn">수정</button>
              <button id="deleteBtn">삭제</button>
              <button>신고</button>
            </th:block>
          </div>
        </div>
        <div class="video-title-content">
          <div class="video-content2">
            <div class="video-writer">
              <img th:if="*{profileImg}" th:src="${videoBoard.profileImg}" />
              <img th:unless="*{profileImg}" th:src="#{user.default.image}" />
              <span class="nickname-area" th:text="${videoBoard.memberNickname}"
                >닉네임</span
              >
              <span class="like-area">
                <i
                  class="fa-heart"
                  th:classappend="${likeClick} ? fa-solid : fa-regular"
                  id="img"
                ></i>

                <span id="count-heart" th:text="${videoBoard.likeCount}"
                  >0</span
                >
              </span>
            </div>
            <div class="write-info">
              <span class="video-count"
                >조회수 : [[${videoBoard.videoReadCount}]]</span
              >
            </div>
          </div>
        </div>
        <!--  ------------------------->
        <th:block th:replace="~{shorts/shortsComment}"></th:block>
        <div class="video-title-content" id="listBtn">
          <button id="goToListBtn">목록으로</button>
        </div>
      </section>
    </div>
    <script th:inline="javascript">
      const boardVideoNo = /*[[${boardVideoNo}]]*/ "영상 게시글 번호";
      const loginCheck =
        /*[[${session.loginMember != null ? true : false}]]*/ "로그인 여부";
    </script>
    <script src="/js/video/shortsDetail.js"></script>
    <script src="/js/video/shortsComment.js"></script>
  </body>
</html>
