<div class="video-title-content video-content3">
  <div class="video-comment-list">
    <ul id="commentList">
      <li
        class="comment-row"
        th:classappend="${videoComment.parentNo} != 0 ? child-comment"
        th:each="videoComment : ${videoBoard.videoCommentList}"
        th:object="${videoComment}"
      >
        <th:block th:if="*{commentDelFl == 'Y'}">
          삭제한 댓글 입니다.
        </th:block>
        <th:block th:unless="*{commentDelFl == 'Y'}">
          <p class="video-comment-writer">
            <img th:unless="*{profileImg}" th:src="#{user.default.image}" id="memberCommentProfile"/>
            <img th:if="*{profileImg}" th:src="*{profileImg}" id="memberCommentProfile">
            <span
              class="comment-writer-nickname"
              th:text="*{memberNickname}"
              >닉네임</span
            >
            <span
              class="comment-writer-date"
              th:text="*{commentWriteDate}"
              >작성일</span
            >
          </p>
          <p class="video-comment-content">
            <span th:text="*{commentContent}" class="comment-content"> 댓글 내용 </span>
            <span class="like-area">
                <i
                  class="fa-heart comment-heart"
                  th:classappend="*{likeClickComment} != 0 ? fa-solid : fa-regular"
                  th:comment-no="*{commentNo}"
                  th:onclick="|likeComment(this, *{commentNo})|"
                ></i>
                <span id="count-heart" th:text="*{likeCountComment}" class="count-heart">좋아요 수</span>
            </span>
          </p>
          <th:block th:if="${session.loginMember != null}">
          <div class="comment-btn-area">
              <button th:onclick="|showInsertComment(*{commentNo}, this)|">답글 달기</button>
              <th:block th:if="${session.loginMember.memberNo == videoComment.memberNo}">
                <button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>
                <button th:onclick="|deleteVideoComment(*{commentNo})|">삭제</button>
              </th:block>
          </div>
          </th:block>
        </th:block>
      </li>
    </ul>
  </div>
  
  <div class="comment-write-area">
    <textarea id="commentContent"></textarea>
    <button id="addComment">
      댓글<br />
      등록
    </button>
  </div>
  
</div>

<script th:inline="javascript">
  const loginMemberNo =
    /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호";
  const userDefaultImage = /*[[#{user.default.image}]]*/ "회원 기본 이미지";
</script>
