<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/shorts/shortsDetail.css" />
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <div class="vid-index3">
      <section th:with="videoBoard = ${videoBoard}">
        <video
          th:src="|${videoBoard.videoPath}${videoBoard.videoRename}|"
          width="400px"
          height="750px"
          controls
        ></video>
      </section>
      <section>
        <div class="video-title-content">
          <div class="video-title" th:text="*{videoTitle}">
            [헬스 꿀팁] 3대 500을 찍고 얻은 5가지 깨달음
          </div>
        </div>
        <div class="video-title-content">
          <div class="video-content1" th:text="*{videoContent}">
            <span
              >근비대나 수행능력 향상을 목적으로 웨이트 트레이닝을하는 분들에게
              이 영상이 조금이나마 도움이 되었으면 좋겠습니다.</span
            >
            <span class="video-write-date">작성일 : [[*{videoWriteDate}]]</span>
          </div>
        </div>
        <div class="video-title-content">
          <div class="video-content2">
            <div class="video-writer">
              <img th:if="*{profileImg}" th:src="*{profileImg}" />
              <img th:unless="*{profileImg}" th:src="#{user.default.image}" />
              <span class="nickname-area" th:text="*{memberNickname}"
                >닉네임</span
              >
              <span class="like-area">
                <i
                  class="fa-heart"
                  th:classappend="${likeCheck} ? fa-solid : fa-regular"
                  id="img"
                ></i>

                <span id="count-heart" th:text="*{likeCount}">0</span>
              </span>
            </div>
            <div class="write-info">
              <span class="video-count">조회수 : [[*{readCount}]]</span>
            </div>
          </div>
        </div>
        <!--  --------------------------------------------- -->

        <div class="video-title-content">
          <div class="video-button">
            <button>수정</button>
            <button>삭제</button>
            <button>신고</button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
