<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/jisik/jisikHeader.css}">
</head>
<body>


    <th:block th:replace="~{common/header}"></th:block>
    
    <div class="list">
        <ul class="menu">

            <li>
                <a href="/jisik/jisikList/">전체</a>
            </li>
            
            <li>
                <a href="/jisik/2/1">축구</a>
            </li>

            <li>
                <a href="jisik/2/2">야구</a>
            </li> 

            <li>
                <a href="jisik/2/3">농구</a>

            </li>
    
            <li>
                <a href="jisik/2/2">헬스</a>
            </li>  

            <li>
                <a href="jisik/2/2">기타</a>
            </li>
    
      </div>
</body>
</html>

