<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 이름</title>

    <th:block th:replace="~{common/common}"></th:block>

    

</head>
<body>
    
    지식인 연결

    <table border="1">
         
        <tr class="table-head">
           <th>회원번호</th>
           <th>제목</th>
           <th>내용</th>
           
        </tr>
        <!-- 타임리프 향상된 for문
           반복되는 횟수만큼 th:each가 지정된 태그가 출력된다. -->
           <tr th:each=" Board : ${BoardList}" th:object="${board}">
              
              <td class="table-elements" th:text="*{memberNo}"></td>

              <td class="table-elements" th:text="*{bordTitle}"></td>
              
              <td class="table-elements" th:text="*{boardContent}"></td>
              
           </tr>
           
        </table>


</body>
</html>
