*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   
  }

  body{
    background-color: #282828;
  }

  .image{
    width: 100%;
    height: 280px;
    /* border: 1px solid black; */
    
  }
  
  .image img{
    width: 100%;
    height: 100%;
  }




  /* 상세조회 전체 영역 */
.detail{
  width: 128.2rem;
  min-height: 700px;
  margin: 50px auto;
  padding: 20px;
}

.board-detail{
  height: 150px;
  border-top: 3px solid rgb(141, 141, 141);
  border-bottom: 3px solid rgb(141, 141, 141);
  display: flex;
  
}

.profileImg{
  width: 130px;
  height: 130px;
  display: flex;
  margin: auto 0;
  border: 2px solid black;
}


.board-main{
  /* border: 1px solid black; */
  margin-left: 20px;
  height: 200px;
}

.board-main>h1,span{
  margin-top: 5px;
  font-size: 15px;
  color: white;
  
}



.board-title > span{
  font-size: 15px;
  color: gray;
}


/* 작성자 영역 */
.board-writer{
  display: flex;
  align-items: center;
}

/* 프로필 */
.board-writer > img{
  width: 40px;
  height: 40px;
}

/* 닉네임 */
.board-writer > span{
  font-weight: bold;
  margin-left : 10px;
}

/* 게시글 정보 */
.board-info{
  width: 320px;
  font-size: 0.8em;
}

.board-info > p{
  margin: 0;
}

.board-info span{
  width: 120px;
  display: inline-block;
  font-weight: bold;
}

.board-detail h5{
  clear: both;
  margin: 10px 0;
}


/* 이미지를 감싸는 div */
.boardImg{
  width: 25%;
  height: 240px;
  float: left;
  text-align: center;
}

.img-box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

/* 이미지 */
.boardImg img{
  max-width: 90%;
  max-height: 90%;
}

/* 버튼 영역 */
.board-btn-area{
  text-align: right;
}

/* 버튼 */
.board-btn-area button{
  width: 80px;
  height: 30px;

  font-weight: bold;
  border: 0;
  background-color: #ffffff;
  color : rgb(0, 0, 0);

  cursor: pointer;
}

.board-btn-area button:hover{
  background-color: rgb(147, 251, 1);
  color : #000000;
  border: 2px solid #ffffff;
}


/* 좋아요 */
.like-area{
  margin-left: 30px;
  /* border: 1px solid wheat; */
}

#boardLike{
  font-size: 1.5em;
  color: red;
  cursor: pointer;
}


/* 이미지를 감싸는 div */
.boardImg{
  width: 25%;
  height: 240px;
  float: left;
  text-align: center;
}

/* 이미지 */
.boardImg img{
  max-width: 90%;
  max-height: 90%;
}

