
/* .com-center{
  border: 1px solid wheat;
} */

.short{
  
  background-color: rgb(204, 204, 204);
  margin-top: 30px;
  display: flex;
}

.board-main{
  margin-left: 20px;
  border-right: 2px solid black;
  height: 130px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  
}


.profileImg{
  width: 130px;
  height: 130px;
  display: flex;
  margin: auto 0;

}

.board-main>h1,span{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
 
}


.myDIV{
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  margin-top: 10px;
  width: 80%;
  height: 150px;
  display: flex;
  margin: 10px auto;
}
  

.board-content{
  font-size: 20px;
  /* border: 1px solid black; */
  margin-left: 20px;
  font-weight: bolder;
  width: 900px;
  height: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
 
}


/* 버튼 영역 */
.board-btn-area{
  text-align: right;
}

/* 버튼 */
.board-btn-area button{
  width: 80px;
  height: 30px;

  font-weight: bold;
  border: 0;
  background-color: #ffffff;
  color : rgb(0, 0, 0);

  cursor: pointer;
}

.board-btn-area button:hover{
  background-color: rgb(147, 251, 1);
  color : #000000;
  border: 2px solid #ffffff;
}