*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   
  }

/* .image {
    margin-top: 20px;
    max-width: 700px;
    max-height: 800px;
} */

/* 상세조회 전체 영역 */

.jisik-detail{
    width: 1000px;
    min-height: 700px;
    /* border:  1px solid #ccc; */
    margin: 50px auto;
    padding: 20px;
    border-radius: 66px;
    background-color: #ffffff;
}


/* 게시글 제목 */
.jisik-title {
    margin : 0;
    padding: 20px 0;
    font-size: 2.4em;
    border-bottom : 2px solid #7a7a7a;
}

/* 
.detail-info {
    padding: 18px ;
    justify-content: space-between;
    text-align: left;
} */
.jisik-content {

    margin-top: 10px;
}

.image > .boardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    width: max-content;
    max-width: 900px;
    font-size: 20px;
    min-width: 500px;
}

.writer-img > img{
    width: 100px;
    height: 100px;
}

/* 작성자 영역 */
.jisikDetail-header > jisik-writer {
    align-items: center;
    margin-left: 0;
}



/* 닉네임 */
.jisik-writer > span{
    font-weight: bold;
    margin-left : 10px;
}

/* 게시글 정보 */
.jisik-info{
    width: 100px;
    font-size: 4px;
}

.jisik-info > p{
    margin: 0;
}

/* .jisik-info span{
    width: 120px;
    display: inline-block;
    font-weight: bold;
} */

.jisik-detail h5{
    clear: both;
    margin: 10px 0;
}

/* 
/* 이미지를 감싸는 div */
/* .boardImg{
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
} */ 

/* 이미지 */


/* 다운로드 a태그 */
.boardImg a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
}

/* 내용 */
.jisik-content{
    height: auto;
    overflow: hidden;
    padding: 30px;
    margin : 10px 0px 50px 0px;
    clear: both;
    border-top : 3px solid #ffe3e3;
    font-size: 18px;

    /* white-space: pre-wrap; */
}

.jisik-text {
    height: auto;
    overflow: hidden;
    width: max-content;
    max-width: 800px;
    font-size: 20px;
    border-bottom: #7a7a7a;
    margin-bottom: 100px;

}
/* 버튼 영역 */
/* .jisik-btn-area{

    text-align: right;
} */

/* 
.jisik-btn-area button{
    width: 80px;
    height: 30px;
    font-weight: bold;
    border: 0;
    background-color: #c4cef2;
    color : white;

    cursor: pointer;
} */

/* .jisik-btn-area button:hover{
    background-color: white;
    color : #00e72e;
    border: 2px solid #0037ff;
} */



/* 좋아요 */

#boardLike{
    font-size: 3.5em;
    color: red;
    cursor: pointer;
}

.category {
    font-size: 14px;
}

/* .boardImg {
    max-width: 600px;
    max-height: 400px;
} */