*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   
  }

  body{
    background-color: #282828;
  }


/* .image {
    margin-top: 20px;
    max-width: 700px;
    max-height: 800px;
} */

/* 상세조회 전체 영역 */

.jisik-detail{
    width: 1000px;
    min-height: 700px;
    /* border:  1px solid #ccc; */
    margin: 50px auto;
    padding: 20px;
    border-radius: 66px;
    background-color: #ffffff;
}


/* 게시글 제목 */
.jisik-title {
    margin : 0;
    padding: 20px 0;
    font-size: 2.4em;
    border-bottom : 2px solid #989898;
}

.category {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
}

.board-title {
    margin: 0;
    text-align: left;
    
}
/* 
.detail-info {
    padding: 18px ;
    justify-content: space-between;
    text-align: left;
} */
.jisik-content {

    margin-top: 10px;
}

.image > .boardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    width: max-content;
    max-width: 900px;
    font-size: 20px;
    min-width: 500px;
}

.writer-img > img{
    width: 78px;
    height: 78px;
    display: flex;
    margin: auto 0;
}

/* 작성자 영역 */
.jisikDetail-header > jisik-writer {
    align-items: center;
    margin-left: 0;
}



/* 닉네임 */
.jisik-writer > span{
    font-weight: bold;
    margin-left : 10px;
}

/* 게시글 정보 */
/* .info {
    width: 100px;
    
} */

.board-title > span {
    font-size: 16px;
}


/* .jisik-info {
    margin: 0;

} */

/* .jisik-info span{
    width: 120px;
    display: inline-block;
    font-weight: bold;
} */

/* .jisik-detail h5{
    clear: both;
    margin: 10px 0;
} */

/* 
/* 이미지를 감싸는 div */
/* .boardImg{
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
} */ 

/* 이미지 */


/* 다운로드 a태그 */
.boardImg a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
}

/* 내용 */
.jisik-content{
    height: auto;
    overflow: hidden;
    padding: 30px;
    margin : 10px 0px 50px 0px;
    clear: both;
    font-size: 18px;
    border-top: #ff8484 3px;

    /* white-space: pre-wrap; */
}

.jisik-text {
    
    height: auto;
    overflow: hidden;
    width: max-content;
    max-width: 800px;
    font-size: 28px;
    margin-bottom: 100px;

}
/* 버튼 영역 */
.jisik-btn-area{

    text-align: right;
}
 
.jisik-btn-area button{
    width: 84px;
    height: 34px;
    font-weight: bold;
    border: 0;
    background-color: #030303;
    color : white;
    border-radius: 14px;
    cursor: pointer;
} 

.jisik-btn-area button:hover{
    background-color: rgb(255, 255, 255);
    color : #007d99;
    border: 2px solid #000000;
} 


.writer-info {
    font-size: 12px;
}


.jisik-btn-area{
    width: 900px;
    height: 100px;
    margin: auto;
} 




.like {
    border-top: 3px solid #2e2f34;
    /* border-bottom: 3px solid #2e2f34; */
    margin-top: 10px;
    margin : 10px 0 10px 0;
    /* border-bottom: 3px solid #2e2f34; */
}

.heart-count {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;

}

#boardLike{
    margin-top: 34px;
    font-size: 5.6em;
    color: red;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* 
.jisik-btn-area > span {
    font-weight: bold;
    font-size: 50px;
} */


  


.jisik-detail > like

.category {
    font-size: 30px;
}

/* .boardImg {
    max-width: 600px;
    max-height: 400px;
} */