/* section, div{ border : 1px solid black;} */

.door{
    width: 100%;
    height: 50px;
  }

  body{
    background-color: #282828;
  }

  
.door h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-elements{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.board-name{
	font-size : 2em;
	margin : 20px 0;
}

.table-elements > a {
    text-decoration: none;
    color : rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

.board-list{
    /* display: flex; */
    width: 1300px;
    /* height: 800px; */
    margin : 50px auto;
    
}

.board-title{
    margin-left : 30px;
    font-size: 2.5em;
}


.list-wrapper{
    
    width: 100%;
}

.jisik-table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

.jisik-table  > thead{ background-color: #0073c6; color: rgb(0, 0, 0);}


.jisik-table  tr{
    height: 60px;
}

.list-table > tbody > tr{
    border-bottom: 1px solid rgb(0, 0, 0);
    border: 3px;

}


.list-table tr > *{ text-align: center; }
.list-table tr > *:nth-of-type(1){ width: 10%; }
.list-table tr > td:nth-of-type(2){
     width: 40%; 
     text-align: left;
     padding-left: 50px;
     text-decoration: none;
}

.list-table tr > *:nth-of-type(3){ 
    
    width: 40%; 
    max-width: 200px;
}
.list-table tr > *:nth-of-type(4){ width: 50%; }
.list-table tr > *:nth-of-type(5){ width: 5%; }



.btn-area{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


    .btn-area > button{
    margin-right: 50px;
    
    width: 80px;
    height: 40px;   
    background-color: white;
    
    font-weight: bold;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 14px;

    cursor: pointer;
     }

    .btn-area button:hover{
        background-color: rgb(255, 255, 255);
        color : #007d99;
        border: 2px solid #000000;
    } 
    
    

  



.pagination {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    height: 100px;
}

.pagination li{
    width: 16px;
    margin: 0 10px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 16px;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5%;
    color: rgb(0, 0, 0) !important;
    letter-spacing: 0 !important;
}

/* #boardSearch{
    text-align: center;
    width: 500px;
    height: 30px;
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
}


#boardSearch * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#boardSearch select{
    width: 100px;
}

#boardSearch input{
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 10px;
}  

#boardSearch button{
    
    width: 100px;
    height: 20px;
    font-weight: bold;
    background-color: #000000;
    border: none;
    color: white;

    cursor: pointer;
    

} */