<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>

    <link rel="stylesheet" href="/css/homePage/homePage.css">
    <link rel="stylesheet" href="/css/header.css">
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>

    <main>

      <section class="myPage-content">

        <section class="myPage-main">

          <div class="myShorts" id="divText">
            <label>쇼츠 영상</label>
            <a href="/shorts/main" id="more">더보기</a>
            <div id="shorts">
              <th:block th:with="videoList=${map3.videoList}">
                <th:block th:if="${#lists.size(videoList) == 0}">
                    <h1 class="noBoard">게시글이 존재하지 않습니다.</h1>
                </th:block>

                <th:block th:each="i : ${#numbers.sequence(0, #lists.size(videoList) - 1)}" th:unless="${#lists.size(videoList) == 0}">
                    <th:block th:if="${i % 5 == 0}" >
                        <div class="vdvd" >
                    </th:block>

                <a th:href="@{/shorts/detail/{boardVideoNo}(boardVideoNo=${videoList[i].boardVideoNo})}" class="video-a" th:object="${videoBoard}">
                    <video th:src="|${videoList[i].videoPath}${videoList[i].videoRename}|" muted onmouseover="this.play()"
                        onmouseout="this.pause()"
                        width="300px"
                        height="320px"
                        controls></video>
                    <div id="video-kdb" th:text="${videoList[i].videoTitle}" style="font-size: 22px;">게시글 제목 </div>
                    <span class="video-count" style="font-size: 16px; color:rgb(190, 190, 190);"> 조회수 : [[${videoBoard.videoReadCount}]]</span>
                    <i class="fa-heart fa-solid" style="color : red;  margin-left:160px; font-size: 15px;" id="boardLike"></i>
                    <span class="video-likeCount" style="font-size: 16px; color:rgb(190, 190, 190);">[[${videoBoard.likeCount}]]</span>

                </a>
            </th:block>

            </div>

        </div>

        <div>
          <input type="button" class="moreViews" style="width:100%; height:30px; background-color: #282828;  cursor:pointer; border:none;" onclick= "viewText(this)">
        
        </div>


            <div class="mid">
            <div class="myCommunity">
                 <label>커뮤니티</label> 
                <a href="/board/1" id="more">더보기</a>
                <br>

                <div id="myCommunityList">
                  <table class="list-table" border="0" th:with="boardList=${map.boardList}" th:object="${Board}">
                    <thead>
                        <tr>
                            <th>카테고리</th>
                            <th>상세 카테고리</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th><i class="fa-heart fa-solid" style="color : red;" id="boardLike"></i></th>

                        </tr>

                    </thead>

                    <tbody>
                        <tr th:if="${#lists.size(boardList) == 0}" >
                            <th colspan="6">게시글이 존재하지 않습니다.</th>
                        </tr>

                        <th:block th:unless="${#lists.size(boardList) == 0}">
                             <tr th:each="board: ${boardList}" th:object="${board}">
                                <td th:if="*{categoryName} == 구인" th:text="*{categoryName}" style="color:rgb(33, 155, 255);  border-left: 3px solid rgb(33, 155, 255); ">카테고리 종류</td>
                                <td th:unless="*{categoryName} == 구인" th:text="*{categoryName}" style="color:rgb(255, 0, 128); border-left: 3px solid rgb(255, 0, 128); ">카테고리 종류</td>
                                <td th:text="*{categoryNameTwo}" style="font-style:italic">상세 카테고리 종류</td>
                                <td>
                                    <a th:href="@{/board/1/{boardNo}(boardNo=*{boardNo})}"
                                      th:text="*{boardTitle}" style="text-decoration: underline;">게시글 제목</a>
                                </td>
                                <td th:text="*{writeDate}" style="font-size:13px;">작성일</td>
                                <td th:text="*{boardCount}">조회수</td>
                                <td th:text="*{likeCount}">좋아요</td>
                               
                            </tr>
                        </th:block> 
                    </tbody>
                </table>
                   
                </div>
            </div>

            <div class="myJisikin">

                <label>지식in</label>

                <a href="/jisik/jisikList" id="more">더보기</a>

                <div id="myKinList">
                  <table class="list-table" border="0" th:with="boardList2=${map2.boardList2}">
                    <thead>
                        <tr>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>닉네임</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th><i class="fa-heart fa-solid" style="color : red;" id="boardLike"></i></th>

                        </tr>

                    </thead>

                    <tbody>
                        <tr th:if="${#lists.size(boardList2) == 0}" >
                            <th colspan="6">게시글이 존재하지 않습니다.</th>
                        </tr>

                        <th:block th:unless="${#lists.size(boardList2) == 0}">
                             <tr th:each="board: ${boardList2}" th:object="${board}">
                                <td th:if="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(253, 122, 70);  border-left: 3px solid rgb(253, 122, 70);">카테고리 종류</td>
                                <td th:unless="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(255, 217, 48);  border-left: 3px solid rgb(255, 217, 48);">카테고리 종류</td>
                                <td>
                                    <a th:href="@{/jisik/jisikDetail/{boardNo}(boardNo=*{boardNo})}"
                                      th:text="*{boardTitle}" style="text-decoration: underline;">게시글 제목</a>
                                </td>
                                <td th:text="*{memberNickname}"></td>
                                <td th:text="*{writeDate}" style="font-size:13px;">작성일</td>
                                <td th:text="*{boardCount}">조회수</td>
                                <td th:text="*{likeCount}">좋아요</td>
                            </tr>
                        </th:block> 
                    </tbody>
                </table>
                </div>
            </div>
          </div>
      
    

      
      
      
      
    </main>

    <th:block th:replace="~{common/common}"></th:block>

    <th:block th:replace = "~{common/footer}"></th:block>  

    <script> 
      function viewText(bObj) { 
        var tObj = document.getElementById("divText"); 
        if(tObj.offsetHeight < 10000) { 
          document.getElementById("divText").style.height = "300px"; 
          bObj.value = "내용 닫기"; 
          } else { 
          document.getElementById("divText").style.height = "300px"; 
          bObj.value = "내용 더보기"; 
       } 
      } 
      </script> 

  
  </body>




</html>