<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>

    <link rel="stylesheet" href="/css/homePage/homePage.css">
    <link rel="stylesheet" href="/css/header.css">
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>

    <main>

      <section class="myPage-content">

        <section class="myPage-main">

          <div class="myShorts" id="divText">
            <label>쇼츠 영상</label>
            <a href="/shorts/main" id="more">더보기</a>
            <div id="shorts">
              <th:block th:with="videoList=${map3.videoList}">
                <th:block th:if="${#lists.size(videoList) == 0}">
                    <h1 class="noBoard">게시글이 존재하지 않습니다.</h1>
                </th:block>

                <th:block th:each="i : ${#numbers.sequence(0, #lists.size(videoList) - 1)}" th:unless="${#lists.size(videoList) == 0}">
                    <th:block th:if="${i % 5 == 0}" >
                        <div class="vdvd" >
                    </th:block>

                <a th:href="@{/shorts/detail/{boardVideoNo}(boardVideoNo=${videoList[i].boardVideoNo})}" class="video-a" th:object="${videoBoard}">
                    <video th:src="|${videoList[i].videoPath}${videoList[i].videoRename}|" muted onmouseover="this.play()"
                        onmouseout="this.pause()"
                        width="300px"
                        height="320px"
                        controls></video>
                    <div id="video-kdb" th:text="${videoList[i].videoTitle}" style="font-size: 17px;">게시글 제목 </div>
                    
                    <span class="video-count" style="font-size: 14px; color:rgb(190, 190, 190); margin-top: 10px;" th:text="|조회수 : *{videoReadCount}|"></span>
                    <div style="display: inline;">  
                      <i class="fa-heart fa-solid" style="color : red; margin-top: 12px; font-size:14px; margin-left: 140px; " id="boardLike"></i>
                      <span class="video-likeCount" style="font-size: 14px; color:rgb(190, 190, 190); " th:text="*{likeCount}">[[${videoBoard.likeCount}]]</span>
                    </div>
                </a>
            </th:block>

            </div>

        </div>


            <div class="mid">
            <div class="myCommunity">
                 <label>커뮤니티</label> 
                <a href="/board/1/1/1" id="more">더보기</a>
                <br>

                <div id="myCommunityList">
                  <div class="list-table" border="0" th:with="boardList=${map.boardList}" th:object="${Board}">
                    
                   
                        <div th:if="${#lists.size(boardList) == 0}" >
                            <th colspan="6">게시글이 존재하지 않습니다.</th>
                        </div>

                        <th:block th:unless="${#lists.size(boardList) == 0}">
                             <div th:each="board: ${boardList}" th:object="${board}" class="communityBoard" style=" border-bottom: 1px dotted white; padding: 18px 16px 15px 20px;">
                                <span> <a th:href="@{/board/1/{boardNo}(boardNo=*{boardNo})}"
                                  th:text="*{boardTitle}" class="communityBoardTitle" style="font-size: 16px;">게시글 제목</a></span> <span th:text="|(*{likeCount})|" style="color:red; font-size: 13px;">좋아요></span>
                                <br>
                                  <span class="communityBoardContent" th:text="*{boardContent}" style="font-size: 14px; margin-top: 12px; font-size: 14px; color:rgb(190, 190, 190);" >게시글 내용</span>
                                <br>
                                <span style="margin-top: 1px;">
                                    <span th:if="*{categoryName} == 구인" th:text="|*{categoryName} > *{categoryNameTwo} |" style=" font-size:13px; color:rgb(33, 155, 255);  border-left: 2px solid rgb(33, 155, 255);  padding-left: 7px; margin-top: 10px; ">카테고리 종류 ｜</span>
                                    <span th:unless="*{categoryName} == 구인" th:text="|*{categoryName} > *{categoryNameTwo} |" style="font-size:13px;  color:rgb(255, 0, 128); border-left: 2px solid rgb(255, 0, 128); padding-left: 7px; ">카테고리 종류 </span>
                                    ｜  <span th:text="*{memberNickname}" style="margin: 0 7px; font-size:13px; color:rgb(190, 190, 190);">닉네임</span> 
                                    ｜ <span th:text="*{writeDate}" style="font-size:12px; margin: 0 7px; color:rgb(190, 190, 190); font-style: italic;">작성일</span> 
                                    </span>
                                <span style="margin-top: 2px; float:inline-end;">
                                    <span th:text="|조회수 : *{boardCount}|" style="margin: 0 7px; font-size:13px; ; color:rgb(190, 190, 190);" >조회수</span>
                                    <i class="fa-heart fa-solid" style="color : red;  margin-left:7px; font-size: 13px;" id="boardLike"></i>
                                    <span class="video-likeCount" style="font-size: 13px; color:rgb(190, 190, 190);" th:text="*{likeCount}"></span>
                                </span>
                            </div>
                        </th:block> 
                    </tbody>
                </div>
                   
                </div>
            </div>

            <div class="myJisikin">

                <label>지식in</label>

                <a href="/jisik/jisikList" id="more">더보기</a>

                <div id="myKinList">
                  <table class="list-table" border="0" th:with="boardList2=${map2.boardList2}">
                    <thead>
                        <tr>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>닉네임</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th><i class="fa-heart fa-solid" style="color : red;" id="boardLike"></i></th>

                        </tr>

                    </thead>

                    <tbody>
                        <tr th:if="${#lists.size(boardList2) == 0}" >
                            <th colspan="6">게시글이 존재하지 않습니다.</th>
                        </tr>

                        <th:block th:unless="${#lists.size(boardList2) == 0}">
                             <tr th:each="board: ${boardList2}" th:object="${board}">
                                <td th:if="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(253, 122, 70);  border-left: 3px solid rgb(253, 122, 70);">카테고리 종류</td>
                                <td th:unless="*{categoryName} == 정보" th:text="|*{categoryName} > *{categoryNameTwo}|" style="color:rgb(255, 217, 48);  border-left: 3px solid rgb(255, 217, 48);">카테고리 종류</td>
                                <td>
                                    <a th:href="@{/jisik/jisikDetail/{boardNo}(boardNo=*{boardNo})}"
                                      th:text="*{boardTitle}" style="text-decoration: underline;">게시글 제목</a>
                                </td>
                                <td th:text="*{memberNickname}"></td>
                                <td th:text="*{writeDate}" style="font-size:13px;">작성일</td>
                                <td th:text="*{boardCount}">조회수</td>
                                <td th:text="*{likeCount}">좋아요</td>
                            </tr>
                        </th:block> 
                    </tbody>
                </table>

                </div>
            </div>
          </div>
      
    

      
      
      
      
    </main>

    <th:block th:replace="~{common/common}"></th:block>

    <th:block th:replace = "~{common/footer}"></th:block>  

    <script> 
      function viewText(bObj) { 
        var tObj = document.getElementById("divText"); 
        if(tObj.offsetHeight < 10000) { 
          document.getElementById("divText").style.height = "300px"; 
          bObj.value = "내용 닫기"; 
          } else { 
          document.getElementById("divText").style.height = "300px"; 
          bObj.value = "내용 더보기"; 
       } 
      } 
      </script> 

  
  </body>




</html>