<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명으로 작성 -->
<mapper namespace="com.javaman.madax.board.model.mapper.EditBoardMapper">
  

	<!--게시글 작성-->
	 <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true">
		 
		 <selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		 </selectKey>
		 
		 INSERT INTO "BOARD"
		 						
		 VALUES(#{boardNo}, #{memberNo}, #{boardTitle}, #{boardContent}, NULL,
		 		DEFAULT, DEFAULT, DEFAULT,#{boardCode},#{categoryCode}, #{categoryCodeTwo})
		
	 </insert>
	 
	 
	 <!--게시글 삭제-->
	 <update id="delete">
		UPDATE "BOARD" SET
	  	BOARD_DEL_FL = 'Y'
	  	WHERE BOARD_CODE = #{boardCode}
	  	AND BOARD_NO = #{boardNo}
	  	AND MEMBER_NO = #{memberNo}
	 </update>
	 
	 
 
	 <insert id="insertUploadList" parameterType="list">
	 INSERT INTO "BOARD_IMG"
	 
	 
	 <foreach collection="list" item="img" separator=" UNION ">
		 SELECT NEXT_IMG_NO(),
		 		#{img.imgPath},
		 		#{img.imgRename},
		 		#{img.imgOriginalName},
		 		#{img.imgOrder},
		 		#{img.boardNo}
		 FROM DUAL
	 </foreach>

	</insert>
	
	
	 <!--게시글 부분 수정-->
	 <update id="updateBoard">
		 UPDATE "BOARD" SET
		 BOARD_TITLE = #{boardTitle},
		 BOARD_CONTENT = #{boardContent}
		 WHERE BOARD_CODE = #{boardCode}
		 AND BOARD_NO = #{boardNo}
	 </update>
	 
	 
	 
	 
	  <!--이미지 삭제-->
	 <delete id="imageDelete">
		 DELETE FROM "BOARD_IMG"
		WHERE BOARD_NO = #{boardNo}
		AND IMG_ORDER IN( ${deleteOrder} )
	 </delete>
	 
	 
	  <update id="updateBoardImg">
		 UPDATE "BOARD_IMG" SET
      	IMG_PATH = #{imgPath},
      	IMG_RENAME = #{imgRename},
      	IMG_ORIGINAL_NAME = #{imgOriginalName}
      	WHERE BOARD_NO = #{boardNo}
      	AND IMG_ORDER = #{imgOrder}
	 </update>
	 
	 
	 
	 <!--이미지 한개 삽입-->
	 <insert id="boardImgInsert">
		 INSERT INTO "BOARD_IMG"
      	VALUES(SEQ_IMG_NO.NEXTVAL, #{imgPath}, #{imgRename}, #{imgOriginalName}, #{imgOrder}, #{boardNo}
      )
	 </insert>
 
	 
	 
   


</mapper>