<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명으로 작성 -->
<mapper namespace="com.javaman.madax.board.model.mapper.EditBoardMapper">
  

	<!--게시글 작성-->
	 <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true">
		 
		 <selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		 </selectKey>
		 
		 INSERT INTO "BOARD"
		 						
		 VALUES(#{boardNo}, #{memberNo}, #{boardTitle}, #{boardContent}, NULL,
		 		DEFAULT, DEFAULT, DEFAULT,#{boardCode},#{categoryCode}, #{category2Code})
		
	 </insert>
	 
	 
	 <!--게시글 삭제-->
	 <update id="delete">
		UPDATE "BOARD" SET
	  	BOARD_DEL_FL = 'Y'
	  	WHERE BOARD_CODE = #{boardCode}
	  	AND BOARD_NO = #{boardNo}
	  	AND MEMBER_NO = #{memberNo}
	 </update>
	 
	 
	 
	 
	
	
 
   


</mapper>