<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명으로 작성 -->
<mapper namespace="com.javaman.madax.board.model.mapper.EditBoardMapper">
  

	
	 <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true">
		 
		 <selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		 </selectKey>
		 
		 INSERT INTO "BOARD"
		 						
		 VALUES(#{boardNo}, #{memberNo}, #{boardTitle}, #{boardContent}, NULL,
		 		DEFAULT, DEFAULT, DEFAULT,#{boardCode},#{categoryCode}, #{category2Code})
		
	 </insert>
	 
	 <insert id="uploadList" parameterType="list">
		 INSERT INTO "BOARD_IMG"
		 
		 <foreach collection="list" item="img" separator=" UNION ">
			 SELECT NEXT_IMG_NO(),
			 		#{img.imgPath},
			 		#{img.imgRename},
			 		#{img.imgOriginalName},
			 		#{img.imgOrder},
			 		#{img.boardNo}
			 FROM DUAL
		 </foreach>
		 
	 </insert>
	
 
   


</mapper>