<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명으로 작성 -->
<mapper namespace="com.javaman.madax.jisik.mapper.JisikMapper">
  
  <!--
  
 	<select id="jisickList" resultType="Board">
		SELECT BOARD_NO,BOARD_TITLE,MEMBER_NICKNAME,WRITE_DATE
		FROM BOARD
		JOIN "MEMBER" USING("MEMBER_NO")
		WHERE BOARD_CODE = '#{boardCode}'
	</select>
 	
   -->
	

		
	 	<select id="jisickList" resultType="Board">
		SELECT BOARD_NO,BOARD_TITLE, BOARD_CONTENT, MEMBER_NICKNAME,WRITE_DATE
		FROM BOARD
		JOIN "MEMBER" USING("MEMBER_NO")
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = '2'
		ORDER BY BOARD_NO DESC
		</select>

	
	

	

</mapper>