<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명으로 작성 -->
<mapper namespace="com.javaman.madax.myPage.model.mapper.MyJisikinMapper">
  
  	
  	<resultMap id="board_rm" type="Board">

		<id property="boardNo" column="BOARD_NO"/>

		<!-- collection 태그
			select로 조회된 결과를 컬렉션(List)에 담아
			지정된 필드에 세팅
			
			property : List를 담을 DTO의 필드명
			select : 실행할 select의 id
			column : 조회 결과 중 지정된 컬럼의 값을 파라미터로 전달
			javaType : List(컬렉션)의 타입을 지정
			ofType : List(컬렉션)의 제네릭(타입 제한) 지정
		-->
		<collection property="commentList"
					select="selectCommentList"
					column="BOARD_NO"
					javaType="java.util.ArrayList"
					ofType="Comment"
					/>
					
		<collection property="imageList" 
               select="selectImageList" 
               column="BOARD_NO"
               javaType="java.util.ArrayList"
               ofType="BoardImg" />			
					
	</resultMap>
	
	
  	<!--게시글 수 조회-->
  	<select id="ListCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = 2
		AND MEMBER_NO = #{memberNo}
	  </select>
	  
	
  	<!--게시글 조회-->
 	<select id="selectBoard" resultType="Board">
	SELECT BOARD_NO,BOARD_TITLE, BOARD_CONTENT, BOARD_COUNT,MEMBER_NO,
		PROFILE_IMG, CATEGORY_NAME, CATEGORY_NAME_TWO,BOARD_TITLE, MEMBER_NICKNAME,
		
	<![CDATA[	
			 		CASE  
			          WHEN SYSDATE - WRITE_DATE < 1/24/60
			         THEN FLOOR( (SYSDATE - WRITE_DATE) * 24 * 60 * 60 ) || '초 전'
			         WHEN SYSDATE - WRITE_DATE < 1/24
			         THEN FLOOR( (SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
			         WHEN SYSDATE - WRITE_DATE < 1
			         THEN FLOOR( (SYSDATE - WRITE_DATE) * 24) || '시간 전'
			         ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD')
		   	END  WRITE_DATE,
	      
	      	]]>
	      	
	      	(SELECT COUNT(*) FROM "BOARD_COMMENT" C
	      		 WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
	       
	     	 	(SELECT COUNT(*) FROM "BOARD_LIKE" L
	     		 WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
	       
	       		(SELECT IMG_PATH || IMG_RENAME FROM BOARD_IMG I
		   		 WHERE I.BOARD_NO = B.BOARD_NO
	   			 AND IMG_ORDER = 0) THUMBNAIL
	   			 
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		JOIN "CATEGORY_TYPE" USING(CATEGORY_CODE)
		JOIN "CATEGORY_TYPE_TWO" USING(CATEGORY_CODE_TWO)
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
		AND B.BOARD_CODE = 2
		ORDER BY BOARD_NO DESC
	</select>
	
</mapper>