:root {
  font-size: 62.5%;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #282828;
  font-family: "SUITE-Regular";
}

main > section {
  width: 128rem;
  margin: auto;

  padding: 3rem 0;
}
main > section > form {
  display: flex;
  justify-content: right;
}
#video-list-type {
  width: 7.5rem;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  height: 2.8rem;
  text-align: center;
  cursor: pointer;
}
video {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.vdvd {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  padding: 1rem;
}
.video-a {
  width: 24.4rem;
  height: 38rem;
  padding: 1rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  /* background-color: white; */
}
#video-kdb {
  height: 3rem;
  font-size: 1.4rem;
  display: block;
  padding-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
video:hover {
  border-radius: 0%;
  transition-duration: 0.5s;
}
.write-btn-area {
  height: 4rem;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.write-btn-area > button {
  width: 10rem;
  height: 4rem;
  margin-right: 4.5rem;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.video-pagination {
  display: block;
}
.video-pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 2rem;
  margin: 1rem 0;
}
.video-pagination li {
  width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}
.video-pagination a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}
.current-pagination {
  background-color: #455ba8;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  letter-spacing: 0 !important;
}
#search-area {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 60rem;
  height: 3rem;
  margin: 2rem auto;
}
#searchKey {
  width: 8rem;
  font-size: 1.4rem;

  text-align: center;
  border-radius: 0.3rem;
  background-color: antiquewhite;
  border: none;
  cursor: pointer;
}
#search {
  width: 28rem;
  margin: 0 1rem;
  border-radius: 0.3rem;
  background-color: antiquewhite;
  border: none;
  font-size: 1.4rem;
  outline: none;
}
#search-area > button {
  width: 10rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: antiquewhite;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
#search-area img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}
.searchMain {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 1rem;
}
