<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">

    <title>게시판 글쓰기</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/header.css}">

    <header>
      <th:block th:replace="~{common/header}"></th:block>
    </header>

  </head>

  <body>

    <div class="container">
      
      <h2>게시글 수정하기</h2>

      <form action="update" method="post" id="writeSubmit" enctype="multipart/form-data" th:object="${board}">

        <div class="form-group" >
          <label for="title">제목</label>
          <input type="text" class="form-control" id="title"  name="boardTitle"  required="required" pattern=".{4,100}"  
                  placeholder="내용 작성" th:value="*{boardTitle}" oninput='handleOnInput(this, 10)'>
        </div>

        <div class="form-group">
          <label for="content">내용</label>
          <textarea class="form-control" rows="5" id="content" name="boardContent" placeholder="내용 작성" th:text="*{boardContent}"></textarea>
        </div>

        <input type="file" name="images">
        <button type="submit" class="btn btn-default">등록</button>
        
      </form>  

    </div>  

    <th:block th:replace = "~{common/common}"></th:block>

  </body>

  <script th:inline ="javascript">
    const boardCode = /*[[${boardCode}]]*/"게시판코드";

    const message = /*[[${message}]]*/ "message";
    if(message != null) alert(message);
    
  </script>
  

  <script src="js/board/boardUpdate.js"></script>

</html>