<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/board/headerList.css}">
    <link rel="stylesheet" th:href="@{/css/board/boardList.css}">
    <link rel="stylesheet" th:href="@{/css/board/footer.css}">

    <header>
      <th:block th:replace="~{common/header}"></th:block>
    </header>

   
  </head> 

  <body>

    <main th:with="boardList=${map.boardList}, pagination=${map.pagination}" >

      <div class="image">
        <img src="/images/토트넘2.jpeg">
      </div>


      
 
      <th:block th:replace="~{board/headerList}"></th:block>

      <div class="sortation">
        <h1>커뮤니티</h1>
      </div>

      

        <div class="search">
          <form action="#" method="get" id="list-search">
            <div>
              <input type="text" class="search-input"  placeholder="검색어를 입력해주세요.">
              <button>검색</button>
            </div>
          </form>
        </div>


    
      <div class="selectBox">
        <button class="btn-select">전체</button>
        <button class="btn-select">긴글</button>
        <button class="btn-select">짧은글</button>
        <select name="key" id="selectKey">
          <option value="t">작성일순</option>
          <option value="c">조회순</option>
          <option value="tc">추천순</option>
        </select>
      </div>


      
      <div class="community">
        <div class="com-left"></div>
        <div class="com-center">
          <table class="list-table" border="1">
                      
            <thead>
              <tr>
                  <th>글번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>조회수</th>
                  <th>좋아요</th>
              </tr>
            </thead>
            <tbody>
              <tr  th:each=" board: ${boardList}" th:object="${board}">
                <td th:text="*{boardNo}">게시글 번호</td>
                <td th:text="*{boardTitle}">게시글 제목</td>
                <td th:text="*{memberNickname}">작성자</td>
                <td th:text="*{writeDate}">작성일</td>
                <td>0</td>
                <td>0</td>
              </tr>
              
              <div th:if="${session.loginMember != null}">
                <button id="writeBtn">글쓰기</button>                     
            </div>
            </tbody>
          </table>
        </div>
        <div class="com-right">
          <div>
            <ul>
              <li class="shortkey">바로가기</li>
              <br>
              <hr>
              <li><a href="#"> 전체</a></li>
              <li><a href="#"> 축구</a></li>
              <li><a href="#"> 야구</a></li>
              <li><a href="#"> 농구</a></li>
              <li><a href="#"> 헬스</a></li>
              <li><a href="#"> 기타</a></li>
            </ul>
          </div>
        </div>
      </div>


      <!-- 페이지네이션 -->
      <div class="pagination-box" th:if="${#lists.size(boardList) > 0}">
        
        <ul class="pagination">

              <!-- 첫 페이지로 이동 -->
              <li>
                  <a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=1)}">&lt;&lt;</a>
              </li>

              <!-- 이전 목록 마지막 번호로 이동 -->
              <li>
                  <a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.prevPage})}">&lt;</a>
              </li>

      
              <!-- 특정 페이지로 이동 -->

              <!-- 타임리프에서 특정 범위 만큼 반복하기!! (1~10) -->
              <!-- #numbers.sequence(1,10,1)  :  1~10까지 1씩 증가하며 차례대로 추가한 리스트 생성 -->
              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                  <!-- 현재 보고있는 페이지 -->
                  <li th:if="${i == pagination.currentPage}">
                      <a class="current" th:text="${i}">1</a>
                  </li>

                  <!-- 보고있지 않은 페이지 -->                    
                  <li th:unless="${i == pagination.currentPage}"> 
                      <a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i})}" th:text="${i}">2</a> 
                  </li>
              </th:block>

              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.nextPage})}">&gt;</a></li>

              
              <!-- 끝 페이지로 이동 -->
              <li>
                  <a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.maxPage})}">&gt;&gt;</a>
              </li>
        </ul>

      </div>


      <!-- 검색 -->
      <form action="#" method="get" id="boardSearch">
        <select name="key" id="searchKey">
          <option value="t">제목</option>
          <option value="c">내용</option>
          <option value="tc">제목+내용</option>
          <option value="w">작성자</option>
        </select>
        <input type="text" name="query"  id="searchQuery" placeholder="검색어를 입력해주세요.">
        <button>검색</button>
      </form>


    </main>

    <th:block th:replace = "~{common/common}"></th:block>

  </body>
  

  <script src="/js/board/boardList.js"></script>

  <script th:inline ="javascript">
    const boardCode = /*[[${boardCode}]]*/ "게시판코드";
  </script>

</html>