<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/board/headerList.css}">
  <link rel="stylesheet" th:href="@{/css/board/detail.css}">
  <link rel="stylesheet" th:href="@{/css/board/comment.css}">

  <!-- <th:block th:replace="~{common/common}"></th:block> -->

  <link rel="stylesheet" href="../../static/css/board/detail.css">


  <header>
    <th:block th:replace="~{common/header}"></th:block>
  </header>
</head>
<body>
  <main>

    <div class="image"> 
      <img src="/images/토트넘2.jpeg">
    </div>


    <th:block th:replace="~{board/headerList}"></th:block>


    <section class="detail" th:object="${board}"> 
        
        <div class="board-detail">
      
          <div class="profileImg">
            <img th:unless="*{profileImg}" th:src="#{user.default.image}">
            <img th:if="*{profileImg}" th:src="*{profileImg}" width="100%">
          </div>

          <div class="board-main">
            <h1 class="board-title"> 게시글 제목 : <span th:text="*{boardTitle}"></span></h1>
            <h1 class="board-title"> 작성자 닉네임 : <span th:text="*{memberNickname}"></span></h1>
            <h1 class="board-title"> 게시글 번호 : <span th:text="*{boardNo}"></span></h1>
            <h1 class="board-title"> 분류 : <span text="{categoryCodeTwo}"></span></h1>
            <h1 class="board-title"> 게시글 작성일 : <span th:text="*{writeDate}"></span></h1>
            <h1 class="board-title"> 조회수 : <span th:text="*{boardCount}"></span></h1>
          </div>

          <!--좋아요  클릭 -->
          <span class="like-area">
                    
            <i class="fa-heart" th:classappend = "${likeCheck} ? fa-solid : fa-regular" id="boardLike"></i>

            <!-- 좋아요 개수 -->
            <span th:text="*{likeCount}">0</span>
            
          </span>

        </div>



           
   
      <th:block th:if="${#lists.size(board.imageList) > 0}" >
         
        <th:bloack th:if="${thumbnail}">
     
          <div class="img-box">
              <div class="boardImg thumbnail">
                  <img th:src="|${thumbnail.imgPath}${thumbnail.imgRename}|">                     
              </div>
          </div>
        </th:bloack>



       
        <th:block th:if="${#lists.size(board.imageList) > start}" >
          <div class="img-box">

            <div th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList)-1, 1)}" 
                th:with="path=|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|"
                class="boardImg">

                <img th:src="${path}">   
            </div>

          </div>
        </th:block>
     
      </th:block>
  

        <div class="board-content" th:text="*{boardContent}">내용</div>


        <div class="board-btn-area">

          <th:block th:if="${session.loginMember != null 
                            and session.loginMember.memberNo == board.memberNo}"> 
              <button id="updateBtn">수정</button>
              <button id="deleteBtn">삭제</button>
          </th:block>

          <button id="goToListBtn">목록으로</button>


        </div>

        <th:block th:replace = "~{board/comment}"></th:block>

     

    </section>


            
  </main>



  <script th:inline = "javascript">

    const boardCode = /*[[${boardCode}]]*/ "게시판 코드";
    const boardNo = /*[[${boardNo}]]*/ "게시글 번호";

    const loginCheck = /*[[${session.loginMember != null ? true : false}]]*/ "로그인여부";

    const message = /*[[${message}]]*/ "메세지";

    if(message != null) alert(message);

    //----------------------------------------------------- 

    const imageList = /*[[${board.imageList}]]*/ [];

    previewList.forEach((preview, i)=>{
              console.log(preview);
              preview.src = imageList[i].imgPath + imageList[i].imgRename;
          })
      
</script>

<script src="/js/board/boardDetail.js"></script>
<script src ="/js/board/comment.js"></script>

<script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
    



</body>
</html>
