<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/board/headerList.css}">
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
    <link rel="stylesheet" th:href="@{/css/board/boardList.css}">

    <header>
        <th:block th:replace = "~{common/header}"></th:block>
        <th:block th:replace = "~{common/headerList}"></th:block>
    </header>
</head>

<body>
  <main>
    <div class="community">
      <div class="com-left"></div>
      <div class="com-center">
      
        
        <h1 th:text="${boardNo}">게시글 번호</h1>




                
      </div>
      <div class="com-right">
      
<ul>
          <li class="shortkey">단축키</li>
          <li><a href="#">1.축구</a></li>
          <li><a href="#">2.야구</a></li>
          <li><a href="#">3.농구</a></li>
          <li><a href="#">4.배구</a></li>
          <li><a href="#">5.테니스</a></li>
          <li><a href="#">6.헬스</a></li>
          <li><a href="#">7.기타</a></li>
        </ul>
      </div>
            
          
      <div class="comment-write-area">
        <textarea id="commentContent"></textarea>
        <button id="addComment">
                댓글<br>
                등록
        </button>
      </div>

  </main>
        
    
   
   <th:block th:replace = "~{common/common}"></th:block>

    
</body>
</html>



