

<div class="list">
    <ul class="menu">
        <li>
            <a href="/board/{boardCode}/{boardNo}/short">전체</a>
        </li>
        <li>
            <a href="/board/1/2/2">축구</a>
          
        <li>
            <a href="/board/1/2/3">야구</a>
        </li>

        <li>
            <a href="/board/1/2/4">농구</a>
        </li>
        
        <li>
            <a href="/board/1/2/5">헬스</a>
        </li>

        <li>
            <a href="/board/1/2/6">기타</a>
        </li>
      
    </ul>
    
  </div>
