
.myPage-main{
  width: 85%;
  padding-left : 7rem;
}

.myPage-profile-main{
  height: 90rem;
  font-size: 1.8rem;
 
}

.myPage-profile-total{
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.2rem;
 
}

.myPage-profile-upper {

  width: 100%;
  height : 40%;
  display: flex;
  background-color: white;
  border-radius: 1.2rem;
}

.myPage-profile-upper > .profile-content {
  width: 50%;
  height : 100%;
  padding-left: 5rem;
  padding-top : 1.5rem;
  background-color: white;
  border-radius: 1.2rem;
  
}


.editProfile2 {
  background-color: white;
  margin-left : 5rem;
  height: 3.5rem;
  width: 50%;
  border: 1px solid black;
  border-radius: 0.8rem;
  color: black;
  padding: 1rem;

}


.editProfile2:focus-within {
  border-color: rgb(22, 255, 1);
}


.profile-row {
  color:black; 
  background-color: white;
  padding-top: 3rem;
  font-weight: bold;
  align-items: center;
  display: flex;
  width: 100%;

}


.editButton {
  background-color: white;
  border: 0rem;
  color:rgb(22, 255, 1);
  margin-left: 4px;
  padding: 5px;
  

}


.myPage-image-area {
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.myPage-image > #profileImg {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  margin-left : 16rem;
  margin-top: 8rem ;
  background-color: white;
  cursor: pointer;
}

.myPage-image > #profileImg:hover {
  border : 5px solid rgb(22, 255, 1);
}



#imageInput {
 display: none;
}


.profile-btn-area{
  width: 23rem;
  background-color: white;
}

.profile-btn-area > button{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 11rem;
  height: 3.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 19rem;
  margin-top : 3rem;
  border-radius: 0.3rem;
}


.myPage-profile-mid {
  width :100%;
  height: 40%;
  background-color: white;
  color: black;
  font-weight: bold;
  padding:  2rem 4rem;
}

.backgroundFrm {
  display: none;
}


.myPage-profile-mid > .backgroundFrm > .background-img {
  background-color: white;
  height: 80%;
  margin-top: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.background-img > #backgroundImg {
  margin-top: 2rem;
  height: 250px;
  width: 100%;
  cursor: pointer;
}

#backgroundImg:hover {
  border : 2px solid rgb(22, 255, 1);
}


#backgroundInput {
  display: none;
}


.background-btn-area {

  display: flex;
  justify-content: end;
}


.background-btn-area > button {
  background-color: white;
  font-size: 5rem;
  width: 11rem;
  height : 5rem;
  font-size: 1.7rem;
  color: black;
  cursor: pointer;
  border: none;
}

.background-btn-area > button:hover {
  transition-duration: 0.3s;
  color:rgb(22, 255, 1);
}


.myPage-profile-lower {
  display: flex;
  align-items: baseline;
  width: 236px;
  margin-left: 340px;
  margin-top: 65px;
}

.myPage-profile-lower > a {
  background-color: white;
}

.myPage-profile-lower >form {
  background-color: white;
}

#homeButton {
  border-radius: 1.5rem;
  border : 0.1rem solid rgb(22, 255, 1);
  background-color:rgb(22, 255, 1);
  color: white;
  width: 11rem;
  height : 5rem;
 
  margin-right : 5rem; 
  font-size: 1.7rem;
  cursor: pointer;

}


#secessionButton {
  color: black;
  background-color: white;
  border: 0.05rem solid black;
  border-radius: 1.5rem;
  width: 11rem;
  height : 5rem;
  font-size: 1.7rem;
  cursor: pointer;
 
}

#homeButton1 {
  cursor: none;
}

#secessionButton1 {
  cursor: none;
}


