
.myPage-main{
  width: 85%;
  padding-left : 7rem;
}

.myPage-community-main{
  height: 90rem;
  font-size: 1.8rem;
 
}

.myPage-community-total{
  width: 100%;
  height: 105%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  
  border-radius: 1.2rem;
 
}
