<footer>
    <div class="footer1">
        <img src="/images/logo_header.png" style="width:260px; margin-right: 30px;"  />
    </div>
    <div class="footer2"> 
        <article>
            <a href="#">프로젝트 소개</a>    
            <span>|</span>
            <a href="">이용약관</a>    
            <span>|</span>
            <a href="#">개인정보처리방침</a>    
        </article>
    </div>

    <div class="footer3">
       <pre> 상호명 : MadAx <운동에 미치다>  ｜  Team : JavaMan  (정영훈 김민수 고재모 이창우)  ｜  프로젝트 기간 : 2023-10-15 ~ 2023-11-17   ｜   서울특별시 중구 남대문로 120 그레이츠 청계(구 대일빌딩) 2F A강의장  </p>
    </div>
</footer>


