<header>
  <div class="header">
    <section class="cls-section">
      <div class="nav">
        <a href="/" class="nav-a" id="nav-logo">
          <img src="/images/logo_header.png" alt="" />
        </a>
      </div>
    </section>
    <section class="cls-section">
      <div class="nav">
        <nav>
          <ul>
            <li id="nav-li">
              <a href="/board/1" class="nav-a" id="nav-1">커뮤니티</a>
              <ul id="nav-li-ul">
                <li>
                  <a href="/board/1/1" id="long">일반</a>
                </li>
                <li>
                  <a href="/board/1/2" id="short">구인</a>
                </li>
              </ul>
            </li>

            <li><a href="/jisik/main" class="nav-a" id="nav-2">지식in</a></li>
  

            <li><a href="/shorts/main" class="nav-a" id="nav-3">쇼츠</a></li>

           <li th:if="${session.loginMember != null && session.loginMember.authority == 2}"> 
            <a href="/admin/main">관리자 페이지</a>
          </li>
          
          </ul>
        </nav>
      </div>
    </section>
    <section class="cls-section">
      <div class="cls-login">

        
      </th:block>

        <th:block th:if="${session.loginMember == null}"> <a href="/member/login">로그인</a> <a href="/member/signup">회원가입</a> </th:block>
       


        <th:block th:unless="${session.loginMember == null}">
          <a href="#" class="login-area">
              <!-- 프로필 이미지가 없을 경우 -->
              <img th:if="${session.loginMember.profileImg == null}" th:src="#{user.default.image}" id="memberHeaderProfile">
                                
              <!-- 프로필 이미지가 있을 경우 -->
              <img th:unless="${session.loginMember.profileImg == null}" th:src="${session.loginMember.profileImg}" id="memberHeaderProfile" >
          </a>    
            <!-- <input type="checkbox" id="memberHeaderProfile"> -->
            <div class="header-menu">
              <a href="/myPage/myPage-home">마이페이지</a>
              <a href="/member/logout" id="logoutBtn">로그아웃</a>

            </div>

          </div>

        </th:block>
      </div>
    </section>
  </div>
</header>

<script src="/js/header.js">

</script>
