<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header2.css" />

    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
   

    <main>

      <th:block th:replace="~{common/header2}"></th:block>

      <div class="myPage-wallpaper" >
        <img th:src="#{mainPage.default.image}" class="backgroundImg">

        <button><a href="/homePage/homePage">입장하기</a></button>
      </div>

      
      
    
      
      
      
      
    </main>

    <th:block th:replace="~{common/common}"></th:block>



    <script th:inline="javascript">
      
      const defaultMainPageImage = /*[[#{mainPage.default.image}]]*/ "기본 이미지";

    
    </script>

  
  </body>




</html>