<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage-main.css">
  </head>
  <body>
    <main>
      <th:block th:replace="~{common/header}"></th:block>

      <form action="/myPage/myPage-home">
        <button>마이페이지</button>
      </form>
    </main>
  </body>
</html>
