<div class="myPage-wallpaper">
  <img src="../images/wallpaper.png" id="wallpaper" >
</div>

<section class="myPage-middle">

  <div class="myPage-middle-profile" th:object="${session.loginMember}">

      <img src="/images/member/user.png" id="memberProfile">
      <span id="nickName" th:text="*{memberNickname}" >닉네임</span>
      <p id="email" th:text="*{memberEmail}">이메일</p>

      <span id="my">내가 쓴 글</span>
      <span></span>
      <span>내 쇼츠</span>
      <span>개</span>
      <span>개</span>

  </div>    

</section>