<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/main.css" />
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    
      <table border="2"  > 
        <tr><th>회원번호</th><th>회원상태</th><th>이메일</th></tr>
        <tr><td>DDD</td><td>aaa</td><td>asd</td></tr>
        <tr><td>DDD</td><td>aaa</td><td>asd</td></tr>
        <tr><td>DDD</td><td>aaa</td><td>asd</td></tr>
        <tr><td>DDD</td><td>aaa</td><td>asd</td></tr>
        <tr><td>DDD</td><td>aaa</td><td>asd</td></tr>
        
      </table>
    
    <th:block th:replace="~{common/common}"></th:block>
  </body>
</html>
